* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetic";
    height: 100%;
    background-color: #0F111A;
    color: #fff;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: auto;
    background-color: #0F111A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    padding: 10px 0;
    gap: 1.5em;
}

.logo {
    display: flex;
    align-items: center;
}

#logo-pape{
    width: 120px;
    height: auto;
    flex-shrink: 0;
}

.logo img {
    height: auto;
    cursor: pointer;
}

.name-movie-img {
    display: none;
}

.fa-solid {
    color: #fff;
}

.title-img {
    width: 100%;
    height: 100%;
}

.movie-media {
    width: 100%;
    height: 100%;
   
}

.movie-hero {
    max-width: 500px;
    max-height: 130px;
}

.main {
    position: relative;
    z-index: 2;
    width: 100%;
}

.main-container {
    position: absolute;
    top: 25%;
    right: 50%;
    padding: 0 30px 60px;
    z-index: 2;
}

.main-container a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.main-container h3 {
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #ffd875;
}    


.tags {
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-bottom: .75rem;
}

.tags-imdb {
    border: 1px solid #f0d25c;
    color: #fff;
    cursor: pointer;
    border-radius: .33rem;
    font-size: 12px;
    padding: 0 4px;
    line-height: 24px;
}

.tags-quality {
    background-image: linear-gradient(220deg, #FFD875, #FFF);
    background-color: #FFD875;
    border-radius: .33rem;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    color: #000;
    padding: 0 .4rem;
}

.tags-model {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    line-height: 26px;
    padding: 0 .5rem;
    border-radius: .33rem;
    align-items: center;
    font-size: 12px;
}

.tags-classic {
    background-color: #ffffff10;
    height: 26px;
    padding: 0 .4rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .33rem;
    align-items: center;
    font-size: 12px;
    display: flex;
    cursor: pointer;
}

.hl-tags {
    display: flex;
    gap: .6rem;
    margin-bottom: .75rem;
}

.tag-topic {
    font-size: 12px !important;
    background-color: #948b8b10 ;
    height: 26px;
    padding: 0 .4rem;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: .33rem;
    align-items: center;
}

.description {
    font-size: 1em;
    line-height: 1.6;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-weight: 400;
    margin-bottom: 2rem;
}

.movie-desqis {
    display: flex;
    gap: 40px;
    align-items: center;
}

.touch-icon-tym {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));
}

.fa-play {
    font-size: 22px;
    color: #000;
}

.touch-group {
    display: inline-flex;
    align-items: center;
    border: 2px solid #ffffff10;
    border-radius: 30px;
    height: 50px;
}

.tym-item {
    height: 50px;
    min-width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tym-item+.tym-item {
    border-left: 2px solid #ffffff10
}

.touch-icon-tym:hover {
    box-shadow: 0 0 20px #fff019 !important;
}

.touch-group:hover {
    border: 2px solid #ffffff;
}

/* .fa-solid:hover {
    color: #fff019;
} */

.wrapper {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    padding: 0 30px 100px;
    bottom: 0;
    z-index: 2;
    width: 100%;
    justify-content: flex-end;
}

.wrap-img:hover {
    border: 1px solid #ffffff;
}

.wrap {
    width: 70px;
    height: 45px;
    overflow: hidden;
    border-radius: 5px;
}

.wrap-img {
    max-width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    
}

.wrap-img-style {
    border: 1px solid #ffffff;
}

.category-container {
    padding: 0 30px;
}

.cards-row-list {
    display: grid;
     gap: 1rem; /*=16px */
     grid-template-columns: repeat(6, 1fr);  /* 6 cot */
     padding: 20px 0;
}

.cards-data1, .cards-data2, .cards-data3, .cards-data4, .cards-data5, .cards-data6, .cards-data7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    min-height: 110px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.cards {
    padding: 0 10px;
    width: 100%;
    max-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0.7rem;
}

.cards-row-list .cards-data1 {
    background-color: rgb(50, 79, 209);
}
.cards-row-list .cards-data2{
    background-color: rgb(102, 102, 153);
}
.cards-row-list .cards-data3{
    background-color: rgb(27, 133, 108);
}
.cards-row-list .cards-data4{
    background-color: rgb(119, 97, 180);
}
.cards-row-list .cards-data5{
    background-color: rgb(205, 126, 95);
}
.cards-row-list .cards-data6{
    background-color: rgb(167, 57, 57);
}
.cards-row-list .cards-data7{
    background-color: rgb(46, 50, 69);
}

.cards-data1:hover,
 .cards-data2:hover,
  .cards-data3:hover,
   .cards-data4:hover,
   .cards-data5:hover,
    .cards-data6:hover,
     .cards-data7:hover {
    transform: translateY(-5px);
}

.categories {
    background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, rgb(40, 43, 58));
    padding: 2rem;
    border-radius: 16px;
    display: grid;
    gap: 2rem;
}

.catalogue  {
    width: 100%;   
}

.catalogue h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(235deg, white 30%, #674196 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.new-movie {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 10px 0;
}

.movie-new-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.name-movie {
    padding: .75rem 1rem;
}

.name-movie h4 {
    cursor: pointer;
    color: #fff;
}

.name-movie h4:hover {
    color: #f0d25c;
}

.name-movie p {
    font-size: .9em;
    margin-top: 5px;
    color: #aaa;
}

.cards-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.row-headr h1 {
    font-size: 1.8em;
}

.cat-row {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.movie-img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.movie-new-pim {
    width: 100%;
  display: flex;
  flex-direction: column;
}

.row-content {
    gap: 0.75rem;
    cursor: pointer;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.row-demo img:hover {
    background-color: #2F3346;
    transition: all 0.1s ease;
}

.row-demo {
    width: 100%;
    transition: all 0.1s ease;
}

.row-demo img {
    width: 100%;
    height: 285px;
    border-radius: 0.5rem;
    object-fit: cover;
}
@media (max-width: 1440px) {
    .icons {
        display: none;
    }
}

@media (max-width: 1024px) {
    .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    }
    .wrapper {
        padding: 0 30px 30px;
    }

    .main-container {
        padding: 0 30px 30px ;
        top: 35%
    }
    .wrap {
        width: 26px !important;
        height: 26px !important;
        border-radius: 100%;
    }
    .movie-hero {
        display: none;
    }
    .name-movie-img {
        display: block;
        font-size: 2em;
    }
    .search {
        display: none !important;
    }
    .name-menu {
        display: none !important;
    }
    .text-light {
        display: none !important;
    }
    #main-user {
        display: none !important;
    }
    .icons {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 6px;
    }
}

@media (max-width: 768px) {
    .movie-hero {
        display: none;
    }
    .name-movie-img {
        display: block;
        font-size: 2em;
    }
    .description {
        display: none;
    }
    .main-container {
        padding: 0 30px 60px;
    }
    .touch-icon-tym {
        width: 60px ;
        height: 60px;
    }
    .cards-row-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .movie-img-container{
        max-width: 328px;
        max-height: 183px;
    }
    .new-movie{
        overflow-x: scroll;
    }
}

@media (max-width: 425px) {
    .touch-group {
        display: none;
    }

    .main-container a{
        display: none !important;
    }
    .hl-tags {
        display: none;
    }
    .wrapper {
        width: 100%;
        right: 70px;
    }
    .main-container {
        text-align: center;
        right: 30px;
    }
    .name-movie-img {
    font-size: 16px;
    font-weight: bolder;
    }
    .main-container h3 {
        font-size: 15.4px;
    }
}

.cards-slide {
    padding: 0 30px 50px;
}

.sw-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.name-row-demo {
    color: #fff;
    font-size: 1em;
    text-align: center;
}

.top-ten-movie {
    width: 100%;
}

.top-movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.top-each-movie {
    width: 100%;
    height: auto;
}

.image-movie {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.image-movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.1s ease;
    border-radius: 0.5rem;
}

.top-movie {
    padding: 0 20px;
    margin-bottom: 19.2px;
}

.search {
    width: 100%;
    height: 2.8rem;
    line-height: 2rem;
    padding: .4rem 2rem;
    background-color: rgba(255, 255, 255, .08);
    color: #fff;
    font-size: 1em;
    outline: none !important;
    box-shadow: none !important;
    border-radius: .4rem;
    border: 1px solid transparent !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    background-color: rgba(255, 255, 255, .0);
    border: none;
    color: #fff;
}

.search-icon {
    font-size: 16px;
    padding: 3px;
    color: #fff;
}

.name-menu {
    display: flex;
    align-items: center;
    gap: 1em;
}

.name-menu a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    padding: 0 .5rem;
    white-space: nowrap;
}

.text-dowloat {
    white-space: nowrap;
    font-size: 12px;
}

#main-user {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    border-radius: 3rem;
    padding: .5rem .8rem;
    border: 1px solid rgba(255, 255, 255, .5);
    text-align: center;
}

.main-color {
    color: #000;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1em;

    
}

